@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {

    --primary-bg-color: #1b1b1b;
    --secondary-bg-color: #222222;
    --secondary-bg-color-hover: #3e3d3d;
    --tertiary-bg-color: #ffffff;
    --tertiary-bg-color-hover: #ffffffc9;
    --tertiary-bg-color-active: #ffffff8f;

    --light: 80;
    /* the threshold at which colors are considered "light." Range: integers from 0 to 100, recommended 50 - 70 */
    --threshold: 60;
}

* {
    font-family: Work Sans;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    margin: 0;
    /* so that when the menu is getting extended, the white background color is not seen */
    background-color: var(--secondary-bg-color);

}

button {

    cursor: pointer;

}

.arrow {
    border: solid rgb(255, 255, 255);
    background-color: var(--primary-bg-color);
    height: 15px;
    width: 15px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transition: all 0.1s ease;
}

.arrow:hover {

    border-color: var(--tertiary-bg-color-hover);

}

.arrow:active {

    border-color: var(--tertiary-bg-color-active);

}

.left {

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}

.right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.home-page {

    display: flex;
    height: 90vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.menu {
    flex-basis: 28%;
    padding: 1% 1.5%;
    background-color: var(--primary-bg-color);
    transition: all 0.15s ease;
    max-width: 26%;
    overflow-y: auto;

}

.menu--expanded {

    flex-basis: 100%;
    max-width: 100%;
}


.menu--hidden {

    flex-basis: 4%;

}

.note-display {
    background-color: var(--secondary-bg-color);
    flex-basis: 74%;
    padding: 1.5% 3%;
    transition: all 0.15s ease;
    max-width: 100%;
    overflow-y: auto;
    max-height: 90vh;
}

.note-display--expanded {

    flex-basis: 96%;
    max-width: 100%;

}


.context-menu {

    position: absolute;
    z-index: 9999;
}

.list-group-item {

    background-color: var(--primary-bg-color);
    color: white;

}

.list-group-item:hover {

    background-color: var(--secondary-bg-color);
    color: white;

}


.note-display__title {

    font-size: 3em;
    font-weight: bold;
    outline: 0;
}

.note-display__title:empty::before,
.note-display__body:empty::before {
    content: attr(data-placeholder);
    color: #a4a4a4;
}

.note-display__body {

    font-size: 1.1em;
    outline: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.menu__functionalities {

    display: flex;
    justify-content: space-between;
    align-items: center;

}


.text-button {

    background-color: transparent;
    border: 0;
    font-size: 1.2em;

}

.text-button:hover {

    text-decoration: underline;

}




.header {

    display: flex;
    background-color: var(--primary-bg-color);

    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0.5% 2%;
    border-bottom: 1px solid white;

}

.header p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    animation: load-note-animation 0.5s ease-in;

}

.header__buttons-div {
    height: 100%;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.primary-button {

    box-sizing: content-box;
    height: 75%;
    padding-inline: 15px;
    font-size: 1.2em;

    color: black;
    background-color: var(--tertiary-bg-color);

    border: 0;
    border-radius: 20px;
    white-space: nowrap;

    transition: all 0.2s ease;

}

.primary-button:hover {

    background-color: var(--tertiary-bg-color-hover);

}

.primary-button:active {

    background-color: var(--tertiary-bg-color-active);

}

.dim-layer {

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 3;

    display: flex;

    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;

}

.dim-layer--hidden {

    visibility: hidden;
    opacity: 0;
}

.dim-layer--visible {

    visibility: visible;
    opacity: 1;
}

.myModal {

    height: 80vh;
    width: 30vw;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2%;
    flex-direction: column;

    background-color: var(--primary-bg-color);

    border: 2px solid white;
    border-radius: 10px;

    transition: all 0.2s ease;
}

.myModal--hidden {
    bottom: -80vh;
    position: absolute;
}

.myModal--visible {
    position: relative;
    /* without bottom 0 the animation doesnt work */
    bottom: 0;

}

.myModal__title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10%;

}

.myModal__body {
    width: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 2vh;
        flex-direction: column;
        margin-bottom: 5%;
}

.myModal__body input,
.myModal__body select {

    border: 0;
    width: 90%;
    padding-inline: 2%;
    height: 7vh;
    font-size: 1.2em;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;

}


.myModal__footer {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid white;

}

.myModal__footer button {
    font-size: 1.2em;
    border: 0;
    background-color: white;
    height: 6vh;
    width: 30%;
    color: black;
    border-radius: 10px;

}

.color-box {

    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;

}

.color-box:hover {
    border-width: 4px;
}

.color-box--red {

    background-color: #ff0000;

}

.color-box--green {

    background-color: #03b703;

}

.color-box--blue {

    background-color: #4d94ff;
}

.color-box--yellow {

    background-color: #e7e731;

}


.color-box--black {

    background-color: var(--secondary-bg-color);

}

.color-box--selected {

    border: 4px solid #4e9eff;

}


.flex-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.note-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: 5%;
    row-gap: 2vh;


}

hr {

    width: 100%;

}


.accordion {
    width: 95%;

    --bs-accordion-border-width: 0;
    --bs-accordion-btn-focus-box-shadow: 0;

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.accordion-button {

    font-weight: bold;
    font-size: 0.6em;

}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 2vh;

}

.note-list__note {
    height: 12vh;
    display: flex;
    padding-inline: 10px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.178);
    cursor: pointer;
    transition: all 0.3s ease;
}

.note-list__note:hover {

    border-radius: 10px;

}

.note-list__note p {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;

}





.failed {

    font-weight: bold;
    font-size: 1.3em;


}


/* login page */

.login-page {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}


.form-container {

    background-color: var(--primary-bg-color);
    height: 60vh;

}

.list-group-item[name="bold"] {

    font-weight: bold;

}

.list-group-item[name="italic"] {

    font-style: italic;

}

.tox-editor-header{

    background-color: var(--secondary-bg-color) !important;

}

.tox-toolbar-overlord {

    background-color: var(--secondary-bg-color) !important;

}

.tox-toolbar__primary {

    background-color: var(--secondary-bg-color) !important;

}

.tox-menubar {

    background-color: var(--secondary-bg-color) !important;

}

.tox-statusbar {

    background-color: var(--secondary-bg-color) !important;
    opacity: 0;
}


.tox-tinymce{

border: 0 !important;
    animation: load-note-animation 1s ease-in;
}

@keyframes load-note-animation {

0%{

opacity: 0;

}


100%{
    
   opacity: 1;

}

}
.tox:not(.tox-tinymce-inline).tox-tinymce--toolbar-bottom .tox-editor-header {

border: 0 !important;

}

.tox .tox-tbtn svg{

    fill: rgba(255, 255, 255, 0.596) !important;

}
