@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {

    --primary-bg-color: #1b1b1b;
    --secondary-bg-color: #232323;
    --secondary-bg-color-hover: #3e3d3d;
    --tertiary-bg-color: #ffffff;
    --tertiary-bg-color-hover: #ffffffc9;
    --tertiary-bg-color-active: #ffffff8f;
    --quaternary-bg-color:#1e1e1e;

    /* this 2 values are used to make sure text is black on light surfaces and white on dark ones */
    --light: 80;
    /* the threshold at which colors are considered "light." Range: integers from 0 to 100, recommended 50 - 70 */
    --threshold: 60;
}

* {
    font-family: Work Sans;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    margin: 0;
    /* so that when the menu is getting extended, the white background color is not seen */
    background-color: var(--primary-bg-color);

}

button {

    cursor: pointer;

}

.arrow {
    border: solid rgb(255, 255, 255);
    background-color: transparent;
    height: 15px;
    width: 15px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transition: all 0.1s ease;
}

.arrow:hover {

    border-color: var(--tertiary-bg-color-hover);

}

.arrow:active {

    border-color: var(--tertiary-bg-color-active);

}

.left {

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}

.right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.home-page {

    display: flex;
    height: 90vh;
}

.primary-button:disabled{

background-color: var(--tertiary-bg-color-active);

}

.primary-button:disabled:hover {

    background-color: rgb(215, 96, 96);

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}





.note-display {
    background-color: var(--primary-bg-color);
    flex-basis: 74%;
    /* padding: 1.5% 3%; */
    transition: all 0.15s ease;
    max-width: 100%;
    overflow-y: auto;
    height: 90vh;
}

.note-display--expanded {

    flex-basis: 96%;
    max-width: 100%;

}


.context-menu {

    position: absolute;
    z-index: 9999;
}

.list-group-item {

    background-color: var(--primary-bg-color);
    color: white;

}

.list-group-item:hover {

    background-color: var(--secondary-bg-color);
    color: white;

}


.note-display__title {

    font-size: 3em;
    font-weight: bold;
    outline: 0;
}

.note-display__title:empty::before,
.note-display__body:empty::before {
    content: attr(data-placeholder);
    color: #a4a4a4;
}

.note-display__body {

    font-size: 1.1em;
    outline: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.menu {
    flex-basis: 28%;
    /* padding: 1% 1.5%; */
    /* background-color: var(--primary-bg-color); */
    transition: all 0.2s ease;
    max-width: 26%;
    overflow-y: auto;
    border-right: 3px solid var(--secondary-bg-color);
scrollbar-width: none; /* for firefox */
}

.menu--expanded {
    padding: 0;
    border: 0;
    flex-basis: 100%;
    max-width: 100%;
}
.menu::-webkit-scrollbar{

display: none;

}

.menu--hidden {

    flex-basis: 4%;
}

.menu__functionalities {
    
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader--small{
display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: var(--quaternary-bg-color);
}

.subheader--normal{

padding-inline: 5%;
    padding-block: 2.5%;
    width: 100%;
    display: flex;
        justify-content: space-between;
        align-items: center;
    border-bottom: 1px solid var(--secondary-bg-color-hover);
    background-color: var(--quaternary-bg-color);

}
.subheader--expanded {
    display: flex;
    background-color: var(--quaternary-bg-color);
        justify-content: space-between;
        align-items: center;
    width: 100%;
    height: 10vh;
    padding-inline: 1%;
    border-bottom: 1px solid var(--secondary-bg-color-hover);
}
.header__buttons-div {
    height: 85%;
    /* padding inline is not 8 because it adds up to the subheader--expanded padding */
    padding-inline: 7%; 
    column-gap: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.text-button {

    background-color: transparent;
    border: 0;
    font-size: 1.2em;

}

.text-button:hover {

    text-decoration: underline;

}




.header {

    display: flex;
    background-color: var(--primary-bg-color);
    overflow-x: auto;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0.5% 2%;
    border-bottom: 1px solid white;

}

.header p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    animation: load-note-animation 0.5s ease-in;

}


.primary-button {

    box-sizing: content-box;
    height: 75%;
    padding-inline: 15px;
    font-size: 1.2em;

    color: black;
    background-color: var(--tertiary-bg-color);

    border: 0;
    border-radius: 20px;
    white-space: nowrap;

    transition: all 0.2s ease;

}

.primary-button:hover {

    background-color: var(--tertiary-bg-color-hover);

}

.primary-button:active {

    background-color: var(--tertiary-bg-color-active);

}

.dim-layer {

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;

}

.modal-container{

position: fixed;
    height: 100%;
    width: 100%;
    /* has to be over everything */
    z-index: 9999; 

    display: flex;

    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;

}


.modal-container--hidden {

    visibility: hidden;
    opacity: 0;
}

.modal-container--visible {

    visibility: visible;
    opacity: 1;
}

.myModal {

    height: 80vh;
    width: 30vw;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2%;
    flex-direction: column;

    background-color: var(--primary-bg-color);

    border: 2px solid white;
    border-radius: 10px;

    transition: all 0.2s ease;
}

.myModal--hidden {
    bottom: -80vh;
    position: absolute;
}

.myModal--visible {
    position: relative;
    /* without bottom 0 the animation doesnt work */
    bottom: 0;

}

.myModal__title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10%;

}

.myModal__body {
    width: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 2vh;
        flex-direction: column;
        margin-bottom: 5%;
}

.myModal__body input,
.myModal__body select,
.login-container input {

    border: 0;
    width: 90%;
    padding-inline: 6%;
    height: 7vh;
    font-size: 1.2em;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    transition: all .2s ease;
}

.input-disappear{

height: 0 !important;

}

.myModal__footer {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid white;

}

.login-container__buttons{
display: flex;
justify-content: center;
width: 100%;
margin-top: auto;
column-gap: 2%;
user-select: none;

}

.myModal__footer button, .login-container__buttons button {
    font-size: 1.2em;
    border: 0;
    background-color: white;
    height: 6vh;
    width: 30%;
    color: black;
    border-radius: 10px;
    transition: all .2s ease;

}
.login-container__buttons button:hover {

    background-color: rgb(113, 113, 248);
}
.login-container__buttons :not(.active):hover {

    background-color: var(--tertiary-bg-color-hover);
}

.login-container__buttons :not(.active){

    background-color: var(--tertiary-bg-color-active);
}

.note-display__message{

    text-align: center;
    font-weight: bold;
    font-size: 2em;
    /* the margin from the top is half the height of note-display minus the fontsize */
    margin-top: calc(45vh - 2em);
}

.vert-line{

height: 90%;
border-left: 2px solid var(--secondary-bg-color-hover);

}
.color-box {

    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    /* --color is set in the JSX */
    background-color: var(--color);

}
.empty-folder-content{

text-align: center;
    font-weight: bold;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.empty-folder-content p{
    font-size: 1.4em;
    color: inherit;
    margin: 0;
}

.empty-folder-content i {

    color: inherit;

}

.color-box:hover {
    border-width: 4px;
}

.color-box--selected {
    border: 4px solid #4e9eff;

}


.flex-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.note-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    row-gap: 2vh;

}

hr {

    width: 100%;
    background-color: #2b2a2a;
}


.accordion {
    width: 95%;

    --bs-accordion-border-width: 0;
    --bs-accordion-btn-focus-box-shadow: 0;

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}



.accordion-button {
    font-weight: bold;
    font-size: 0.6em;

}

.accordion-body {
    padding: 0;
    display: flex;
    flex-direction: column;

}
.note-list__note {
    width: 100% !important;
    height: 12vh;
    display: flex;
    padding-inline: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.178);
    cursor: pointer;
    transition: all 0.3s ease;
}

.note-list__note:hover {

background-color: var(--hover-color) !important;
}

.note-list__note p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    font-weight: bold;
    font-size: 1.3em;

}





.failed {

    font-weight: bold;
    font-size: 1.3em;


}


/* login page */




.form-container {

    background-color: var(--primary-bg-color);
    height: 60vh;

}

.list-group-item[name="bold"] {

    font-weight: bold;

}

.list-group-item[name="italic"] {

    font-style: italic;

}

.tox-editor-header{

    background-color: var(--primary-bg-color) !important;
    /* left: 4% !important; */
    /* width: auto !important; */

}

.my-tox-header-sticky--expanded{
left: 4% !important;
/* 95.3 and not 96 to make the scrollbar visible */
    width: 95.3vw !important;

}

.my-tox-header-sticky--normal {
    left: 26% !important;
/* 73.3 and not 74 to make the scrollbar visible */
    width: 73.3vw !important;

}

.tox-toolbar-overlord {

    /* background-color: var(--secondary-bg-color) !important; */
    background-color: var(--primary-bg-color) !important;
}

.tox-toolbar__primary {

    /* background-color: var(--secondary-bg-color) !important; */
    background-color: var(--primary-bg-color) !important;
}

.tox-menubar {

    background-color: var(--primary-bg-color) !important;

}

.tox-statusbar {

    opacity: 0;
}


.tox-tinymce{

border: 0 !important;
    animation: load-note-animation 0.2s ease-in;
}

@keyframes load-note-animation {

0%{

opacity: 0;

}


100%{
    
   opacity: 1;

}

}
.tox:not(.tox-tinymce-inline).tox-tinymce--toolbar-bottom .tox-editor-header {

border: 0 !important;

}

.tox .tox-tbtn svg{

    fill: rgba(255, 255, 255, 0.596) !important;

}

/* .tox .tox-statusbar {

    border: 0 !important;

    display: none !important;
} */

/* removes the white line at the end of the editor */
.tox .tox-edit-area__iframe{

background-color: transparent !important;

}


/* ----------------------------- */
   @keyframes rotate {
       0% {
           transform: rotate(0deg);
       }

       100% {
           transform: rotate(360deg);
       }
   }

   .out-top {
       animation: rotate 20s linear infinite;
       transform-origin: 13px 25px;
   }

   .in-top {
       animation: rotate 10s linear infinite;
       transform-origin: 13px 25px;
   }

   .out-bottom {
       animation: rotate 25s linear infinite;
       transform-origin: 84px 93px;
   }

   .in-bottom {
       animation: rotate 15s linear infinite;
       transform-origin: 84px 93px;
   }

   .background-login{
       position: fixed;
       top: 10vh;
       left: 0;
       width: 100%;
       height: 100%;
   }





   .login-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    row-gap: 3%;
    width: 28vw;
    border: 3px solid var(--secondary-bg-color);
padding: 3%;
    background-color: var(--primary-bg-color);
    z-index: 1;
    border-radius: 10px;

   }

        .login-container p{

            transition: all .2s ease;

        }

        .folder-selection__option{


        }


        
/* every p except the error ones */
   .login-container p:not(.login-container__error){

    font-size: 1.5em;
    font-weight: bold;

   }

   .login-container__error{

    color: red;
    font-size: 0.8em;
    text-decoration: underline;

   }

   .login-page {

       display: flex;
       align-items: center;
       justify-content: center;
       height: 90vh;

   }

/* placeholder color tinymce */
.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before{

color: #ffffff80;

}

.password-toggle-icon{

position: absolute;
right: 11px;
top: 11px;
cursor: pointer;
user-select: none;
}

.password-container{

    position: relative;
width: 90%;

}
.password-container input{

width: 100%;
padding-right: 20%;
}



   .gsi-material-button {
       -moz-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       -webkit-appearance: none;
       background-color: #131314;
       background-image: none;
       border: 1px solid #747775;
       -webkit-border-radius: 20px;
       border-radius: 20px;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       color: #e3e3e3;
       cursor: pointer;
       font-family: 'Roboto', arial, sans-serif;
       font-size: 14px;
       height: 40px;
       letter-spacing: 0.25px;
       outline: none;
       overflow: hidden;
       padding: 0;
       position: relative;
       text-align: center;
       -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
       transition: background-color .218s, border-color .218s, box-shadow .218s;
       vertical-align: middle;
       white-space: nowrap;
       width: 40px;
       max-width: 400px;
       min-width: min-content;
       border-color: #8e918f;
   }

   .gsi-material-button .gsi-material-button-icon {
       min-width: 20px;
       width: 20px;
       margin-left: 9px;
   }

   .gsi-material-button .gsi-material-button-content-wrapper {
       -webkit-align-items: center;
       align-items: center;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-flex-wrap: nowrap;
       flex-wrap: nowrap;
       height: 100%;
       justify-content: space-between;
       position: relative;
       width: 100%;
   }

   .gsi-material-button .gsi-material-button-contents {
       -webkit-flex-grow: 1;
       flex-grow: 1;
       font-family: 'Roboto', arial, sans-serif;
       font-weight: 500;
       overflow: hidden;
       text-overflow: ellipsis;
       vertical-align: top;
   }

   .gsi-material-button .gsi-material-button-state {
       -webkit-transition: opacity .218s;
       transition: opacity .218s;
       bottom: 0;
       left: 0;
       opacity: 0;
       position: absolute;
       right: 0;
       top: 0;
   }

   .gsi-material-button:disabled {
       cursor: default;
       background-color: #13131461;
       border-color: #8e918f1f;
   }

   .gsi-material-button:disabled .gsi-material-button-state {
       background-color: #e3e3e31f;
   }

   .gsi-material-button:disabled .gsi-material-button-contents {
       opacity: 38%;
   }

   .gsi-material-button:disabled .gsi-material-button-icon {
       opacity: 38%;
   }

   .gsi-material-button:not(:disabled):active .gsi-material-button-state,
   .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
       background-color: white;
       opacity: 12%;
   }

   .gsi-material-button:not(:disabled):hover {
       -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
       box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
   }

   .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
       background-color: white;
       opacity: 8%;
   }


   .password-condition {

    font-size: 0.8em;
    color: var(--tertiary-bg-color-hover);
    margin-top: -8px;
    align-self: flex-start;

   }

   .password-condition--red {

    color: red;

   }
   .password-condition--green {

    color: green;

   }



  