@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {

    --primary-bg-color: #1b1b1b;

    --secondary-bg-color: #232323;
    --secondary-bg-color-hover: #3e3d3d;

    --tertiary-bg-color: #ffffff;
    --tertiary-bg-color-hover: #ffffffc9;
    --tertiary-bg-color-active: #ffffff8f;

    --quaternary-bg-color: #1d1d1d;

    --purple: #5941df;
    --purple-light: #7e64ff;
    --purple-hover: #4a33ce;
    --purple-active: #31247d;

    --text-color: white;
    --text-color-secondary: black;

    --editor-bg-color: #1f1f1f;
    /* this 2 values are used to make sure text is black on light surfaces and white on dark ones */
    --light: 80;
    /* the threshold at which colors are considered "light." Range: integers from 0 to 100, recommended 50 - 70 */
    --threshold: 60;

    --height-homepage: calc(100dvh - max(min(10dvh, 70px), 60px));
}

[data-theme="light"] {

    --primary-bg-color: #efefef;

    --secondary-bg-color: #e2e2e2;
    --secondary-bg-color-hover: #ffffff8f;

    --tertiary-bg-color: #1b1b1b;
    --tertiary-bg-color-hover: #232323;
    --tertiary-bg-color-active: #3e3d3d;

    --quaternary-bg-color: #c0c0c0;

    --text-color: black;
    --text-color-secondary: white;

    --purple-active: #31247d;

    --editor-bg-color: white;
}

* {
    font-family: Work Sans;

    color: var(--text-color);
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body {

    /* so that when the menu is getting extended, the white background color is not seen */
    background-color: var(--editor-bg-color);

}

.app {

    /* overflow hidden has to be put here and not in the body cause in mobile browser overflow: hidden is not considered in the body element. I also need to set position: relative to make it work */
    position: relative;
    overflow: hidden;
}

.home-page {

    display: flex;
    /* the height of the home-page depends on the height of the header in that moment */
    height: var(--height-homepage);
}

/*? modals */
.myModal__footer {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10dvh;
    min-height: 60px;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid var(--tertiary-bg-color);

}

.myModal__footer .secondary-button {

    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}

.myModal__footer .secondary-button,
.login-container .secondary-button {
    width: 30%;

}

.modal {
    --bs-modal-color: var(--tertiary-bg-color);
    word-wrap: break-word;
    --bs-modal-bg: var(--primary-bg-color);
}

.btn-close {

    --bs-btn-close-focus-shadow: 0;

}

.modal-header {

    background-color: var(--purple);

}

.modal-container {

    position: fixed;
    height: 100%;
    width: 100%;
    /* has to be over everything */
    z-index: 9999;

    display: flex;

    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;

}

.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7dvh;
    min-height: 40px;
    min-width: 40px;
    max-width: 45px;
    max-height: 45px;
    width: 7dvh;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    /* --color is set in the JSX */
    background-color: var(--color);

}

.color-box:hover {
    border-width: 4px;
}

.color-box--selected {
    border: 4px solid var(--purple);

}

.bi.bi-check-lg {

    color: var(--purple);

}

.colors-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transition: all 0.2 ease;
}

.modal-container--hidden {

    visibility: hidden;
    opacity: 0;
}

.dim-layer {

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;

}

.modal-container--visible {

    visibility: visible;
    opacity: 1;
}

.myModal::-webkit-scrollbar {

    display: none;

}

.myModal {

    height: 80dvh;
    width: 30vw;
    min-width: 300px;
    padding: 2%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 12px;
    flex-direction: column;

    background-color: var(--quaternary-bg-color);

    border: 2px solid var(--tertiary-bg-color);
    border-radius: 10px;

    transition: all 0.2s ease;
}

.myModal--hidden {
    bottom: -80dvh;
    position: absolute;
}

.myModal--visible {
    position: relative;
    /* without bottom 0 the animation doesnt work */
    bottom: 0;

}

.myModal__title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10%;

}

.myModal__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    flex-direction: column;
    margin-bottom: 5%;
}

.myModal__body input,
.myModal__body select,
.login-container input {

    border: 0;
    width: 90%;
    padding-inline: 6%;
    line-height: 2.4em;
    font-size: 1.2em;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    transition: box-shadow .2s ease;
}

.myModal__body input:hover,
.myModal__body select:hover,
.login-container input:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.myModal__body input:focus,
.myModal__body select:focus,
.login-container input:focus {
    outline: solid 2px var(--purple);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}

.myModal__body select {
    height: 2.4em;
    appearance: none;
}

/* ? login */
.sponsor {
    font-size: 3.5em;
    font-weight: bold;
    text-align: right;
}



.sponsor--purple {

    color: var(--purple);

    /* make it even bolder */
    text-shadow: 0.5px 0 var(--purple), -0.5px 0 var(--purple), 0 0.5px var(--purple), 0 -0.5px var(--purple),
        0.5px 0.5px var(--purple), -0.5px -0.5px var(--purple), 0.5px -0.5px var(--purple), -0.5px 0.5px var(--purple);
}

.conditions-container {

    display: flex;
    flex-direction: column;
    width: 90%;
    padding-block: 0.5em;
    transition: height .2s ease;
}

.password-condition {

    font-size: 0.8em;
    color: var(--tertiary-bg-color-hover);
    align-self: flex-start;
}

.password-condition--red {

    color: red;

}

.password-condition--green {

    color: green;

}

.checkbox-container {

    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 1%;
    width: 90%;
}

.checkbox-container input[type=checkbox] {

    width: fit-content;
    accent-color: var(--secondary-bg-color-hover);

}

.disappear {

    height: 0;
    width: 0;
    z-index: -1;

}

.disappear * {

    opacity: 0;
    width: 0;

}

.login-container__buttons div {
    text-align: center;
    width: 100%;

}

.login-container__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    row-gap: 10px;
    user-select: none;

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 1%;
    width: 35vw;
    padding: 3%;
    background-color: var(--primary-bg-color);
    z-index: 1;

}

.login-container p {

    transition: all .2s ease;

}

.login-page .ripple-background {
    display: flex;
    padding-right: 5%;
    padding-top: 2.5%;
    justify-content: right;
    position: relative;
    height: 100dvh;
    width: 65vw;
    background: var(--quaternary-bg-color);
}

/* every p except the error ones */
.login-container p:not(.login-container__error) {

    font-size: 1.5em;
    font-weight: bold;

}

.login-container__error {

    color: red;
    font-size: 0.8em;
    text-decoration: underline;

}

.login-page {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100dvh;

}


.password-toggle-icon {

    position: absolute;
    /* right: 11px; */
    /* top: 11px; */
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
    cursor: pointer;
    user-select: none;
}

.password-toggle-icon:hover * {

    color: var(--purple);

}

.password-container {

    display: flex;
    flex-direction: column;
    row-gap: 1dvh;
    position: relative;
    width: 90%;

}


.password-container input {

    width: 100%;
    padding-right: 20%;
}


.login-container__buttons .secondary-button:not(.active) {

    background-color: var(--tertiary-bg-color-active);

}

/*? menu */
.theme-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-div__label {
    cursor: pointer;
    transition: all 0.2s ease;
}

.theme-div__input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.icon-text-button {
    display: flex;
    width: 100%;
    gap: 4%;
    text-align: left;
    background-color: var(--purple);
    border: 2px solid var(--purple-light);
    font-size: 1.3em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.icon-text-button div i {

    color: white;

}

.menu__toolbar--expanded .icon-text-button {
    height: 2.6em;
    min-height: 2.6em;
    line-height: 2.6em;

}

.menu__toolbar--normal .icon-text-button {

    width: 50%;
    height: 2.3em;
    gap: 0;
    /* the same as the accordion */
    border-radius: 0.375rem;
    line-height: 2.3em;
}

.menu__toolbar--normal .icon-text-button span {
    text-align: center;
}

.icon-text-button span {
    /* with width the animation is smoother */
    width: 100%;
    color: white;
    text-align: left;
    animation: load-note-animation 0.6s ease-in;
}

.icon-text-button div {

    display: flex;
    justify-content: center;
    height: 100%;
    /* set the flex basis to 0 so the animation works */
    aspect-ratio: 1 / 1;
    max-width: 100%;
    /* padding-inline: 6%; */
    background-color: var(--purple-hover);
    transition: all .4s ease;
    transition-delay: 0.05s;

}

.icon-text-button:hover div {
    /* it would be bigger than the button, but there is max-width:100% and overflow: hidden so it doesn't matter */
    aspect-ratio: 20/1;
}

.icon-text-button:hover span {
    display: none;

}

.icon-text-button:active div {

    background-color: var(--purple-active);
}


.menu {
    flex-basis: 26%;
    /* padding: 1% 1.5%; */
    background-color: var(--primary-bg-color);
    transition: all 0.2s ease;
    overflow-y: auto;
    border-right: 3px solid var(--secondary-bg-color);
    /* for firefox */
    scrollbar-width: none;
}

.menu--expanded {
    display: flex;
    padding: 0;
    border: 0;
    flex-basis: 100%;
}

.menu--only-notelist {

    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    flex-basis: 100%;

}


.menu__toolbar--normal {
    position: sticky;
    top: 0;
    padding-inline: 5%;
    height: 88.6px;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid var(--secondary-bg-color-hover);
    background-color: var(--quaternary-bg-color);

}




.menu__toolbar--small {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: var(--height-homepage);
    background-color: var(--primary-bg-color);
    transition: all 0.2s ease;
}

.menu__toolbar--small:hover {

    background-color: var(--secondary-bg-color);


}

.menu__toolbar--expanded::-webkit-scrollbar {

    display: none;
}

.menu__toolbar--expanded {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 2%;
    overflow: auto;

    padding-inline: 2.5%;
    padding-block: 2%;

    background-color: var(--purple-active);
    border-right: 3px solid var(--purple);

    transition: background-color 0.2s ease, color 0.2s ease;

}

.menu__toolbar .bi.bi-arrow-left,
.menu__toolbar .bi.bi-arrow-right,
.menu__toolbar .bi.bi-sun-fill,
.menu__toolbar .bi.bi-moon-fill {

    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.2s ease;

}

.menu__toolbar--expanded i {

    color: white;


}

.menu__toolbar .bi.bi-arrow-left:hover,
.menu__toolbar--small:hover .bi.bi-arrow-right,
.menu__toolbar .bi.bi-sun-fill:hover,
.menu__toolbar .bi.bi-moon-fill:hover {

    color: var(--purple-light);

}



.menu--expanded .note-list {

    width: 80%;

}

.menu--expanded .menu__toolbar--expanded hr {

    border-color: white;
    max-width: 100%;
}

.menu hr {

    max-width: 95%;

}

.choose-note {

    display: none;


}



.menu__toolbar--only-notelist .secondary-button i {

    color: var(--primary-bg-color);

}

.menu--expanded .accordion,
.menu--expanded hr {

    max-width: 80%;

}

.menu__toolbar--only-notelist {

    width: 100%;
    padding-inline: 5%;
    padding-block: 2%;

}

.menu::-webkit-scrollbar {

    display: none;

}

.menu.menu--hidden {
    overflow-y: hidden;

    flex-basis: 4%;
    min-width: 50px;
}

.menu.menu--hidden .note-list {

    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/*? header*/
.header__buttons-div {

    display: flex;
    gap: 15%;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: right;

}

.header__buttons-div .bi.bi-list {

    font-size: 1.5em;

}

.account-button {

    width: 7dvh;
    height: 7dvh;
    max-width: 45px;
    max-height: 45px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: #1b1b1b;
    border: 3px solid var(--purple);
    color: #3e3d3d;
    font-weight: bold;
    font-size: 1.4em;

    /* make it even bolder */
    text-shadow: 0.3px 0 #3e3d3d, -0.3px 0 #3e3d3d, 0 0.3px #3e3d3d, 0 -0.3px #3e3d3d,
        0.3px 0.3px #3e3d3d, -0.3px -0.3px #3e3d3d, 0.3px -0.3px #3e3d3d, -0.3px 0.3px #3e3d3d;
    transition: all 0.2s ease;
}

.account-button:hover {

    background-color: var(--purple);
    border-color: var(--purple-active);
    color: var(--purple-light);
    text-shadow: 0.3px 0 var(--purple-light), -0.3px 0 var(--purple-light), 0 0.3px var(--purple-light), 0 -0.3px var(--purple-light),
        0.3px 0.3px var(--purple-light), -0.3px -0.3px var(--purple-light), 0.3px -0.3px var(--purple-light), -0.3px 0.3px var(--purple-light);

}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1em;
    --bs-dropdown-color: var(--tertiary-bg-color);
    --bs-dropdown-bg: var(--primary-bg-color);
    --bs-dropdown-divider-bg: var(--tertiary-bg-color-active);
    --bs-dropdown-header-padding-x: 0.5rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    max-width: 20dvw;
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 3px solid var(--purple-active);
    border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu .dropdown-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-menu button {

    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
    background-color: transparent;
    border: 0;
    height: 5dvh;
    min-height: 30px;
    transition: all 0.2s ease;
}

.dropdown-menu button:hover {

    background-color: var(--secondary-bg-color);

}

.header i {

    color: white;

}

.header {

    display: flex;
    background-color: #1b1b1b;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    min-height: 60px;
    max-height: 70px;
    width: 100%;
    padding: 0.5% 2%;
    border-bottom: 3px solid var(--purple);
    transition: background-color 0.2s ease, color 0.2s ease;

}

.header p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    animation: load-note-animation 0.5s ease-in;
    color: white;
}

.header__title {

    font-size: 3em;
    font-weight: bold;
    outline: 0;
    width: 70%;
    overflow: auto;
    white-space: nowrap;
}

.header__title::-webkit-scrollbar {

    height: 0;

}

.header__title:empty::before {
    content: attr(data-placeholder);
    color: #a4a4a4;
}

/*? note display */
.note-display__message {

    text-align: center;
    font-weight: bold;

    font-size: 2em;
    /* the margin from the top is half the height of note-display minus the fontsize */
    margin-top: calc(45dvh - 2em);
}

.note-display {
    background-color: var(--editor-bg-color);
    flex-basis: 74%;
    /* padding: 1.5% 3%; */
    transition: flex-basis 0.2s ease;
    overflow-y: scroll;
    height: var(--height-homepage);

}

.note-display--hidden {

    flex-basis: 0;

    /* used to make sure the editorMCE stickybar isn't shown over the expanded menu and to not see the editor shrink to the right, this update doesn't have to be effected by transition */
    visibility: hidden;

}

.note-display--expanded {

    flex-basis: 96%;

}


/*? context-menu */
.context-menu {
    --height: 6dvh;
    /* --left and top variables are declared in jsx */
    /* i add 20px to make sure the context menu doesn't appear exactly where I pressed */
    left: calc(var(--left) + 20px);
    /* subtracting --height from --top makes sure the context-menu will appear in the middle */
    top: calc(var(--top) - var(--height));
    position: absolute;
    z-index: 9999;
}


.list-group-item {
    height: var(6dvh);
    background-color: var(--primary-bg-color);
    color: var(--text-color);

}

.list-group-item:hover {

    background-color: var(--secondary-bg-color);
    color: var(--text-color);

}


/*? notelist*/

.empty-folder-content {

    text-align: center;
    font-weight: bold;
    height: 10dvh;
    min-height: 60px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.empty-folder-content p {
    font-size: 1.4em;
    color: inherit;
    margin: 0;
    user-select: none;
}

.empty-folder-content i {

    color: inherit;

}



.note-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    row-gap: 2dvh;
    overflow-y: auto;

}

.note-list::-webkit-scrollbar {

    display: none;

}

.accordion-item {

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

}

.accordion {
    width: 95%;
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-bg: transparent;

}

.accordion__white-svg{
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion__black-svg {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button {
    font-weight: bold;
    font-size: 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;


}

.accordion-body {
    padding: 0;
    display: flex;
    flex-direction: column;
}



.note-list__note {
    width: 100%;
    height: 10dvh;
    min-height: 60px;
    max-height: 70px;
    display: flex;
    padding-inline: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.178);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.accordion-header .accordion-button .plus-button {
    border: 0;
    background-color: transparent;
    font-weight: bold;
    position: relative;
    left: 10px;
    transition: color .2s ease;
}

.accordion-button__folder-title {

    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;


}

.accordion-header .accordion-button span {

    color: var(--hover-color) !important;

}



.note-list__note:hover {

    background-color: var(--hover-color) !important;
    border: 3px solid rgba(0, 0, 0, 0.178);
}



.note-list__note p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.3em;
    user-select: none;

}

.failed {

    font-weight: bold;
    font-size: 1.3em;


}

/*? page 404 */
.page-404 {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;

}

.page-404__content-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    row-gap: 3%;
    width: 28vw;
    border: 3px solid var(--secondary-bg-color);
    padding: 3%;
    background-color: var(--primary-bg-color);
    z-index: 1;
    border-radius: 10px;
}

.page-404__content-container h1 {

    font-weight: bold;

}

.page-404__content-container i {
    font-size: 5em;

}

/*? general */
.secondary-button:disabled {

    background-color: var(--tertiary-bg-color-active);

}

.secondary-button:disabled:hover {

    background-color: rgb(215, 96, 96) !important;

}



.primary-button {
    height: 50%;
    padding-inline: 15px;
    font-size: 1.2em;

    color: white;
    background-color: var(--purple);
    border: 0;
    border-radius: 0.5em;
    white-space: nowrap;

    transition: all 0.2s ease;

}



.primary-button:hover {

    background-color: var(--purple-hover);
    color: white;

}

.primary-button:active {

    background-color: var(--purple-active);
    color: white;
}

.secondary-button {

    font-size: 1.2em;
    border: 0;
    padding-block: 2%;
    background-color: var(--tertiary-bg-color);
    width: 50%;
    color: var(--text-color-secondary);
    transition: all .2s ease;

}



.double-button-radius-container :first-child {

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.double-button-radius-container :last-child {

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.secondary-button.active:hover {

    background-color: var(--purple);
    color: var(--text-color) !important;
}

.secondary-button:not(.active):hover {

    background-color: var(--tertiary-bg-color-hover);
}

.secondary-button:not(.active):active {

    background-color: var(--tertiary-bg-color-active);
}

.button-group {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu__toolbar--normal .button-group {
    height: 100%;
    align-items: center;

}



hr {
    border-color: var(--tertiary-bg-color);
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


input[data-autocompleted] {
    background-color: transparent !important;

}



.full-height-container {

    height: 100dvh;

}

.center-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}


.circle {
    position: absolute;
    border-radius: 50%;
    background: var(--purple);
    animation: ripple 15s infinite;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}


/*? tinymce */
.tox:not(.tox-tinymce-inline).tox-tinymce--toolbar-bottom .tox-editor-header {

    border: 0 !important;

}

.tox:not(.tox-tinymce-inline) .tox-editor-header {

    box-shadow: none !important;

}

.tox .tox-tbtn--enabled svg {

    fill: white !important;

}



/* removes the white line at the end of the editor */
.tox .tox-edit-area__iframe {

    background-color: var(--primary-bg-color) !important;

}

.my-tox-header-sticky--hamburger {

    /* 99.3 and not 100 to make the scrollbar visible */
    width: 100vw !important;
    left: 0 !important;

}

.tox-editor-header {

    background-color: var(--quaternary-bg-color) !important;

}

/* restore last draft button */
div[aria-label="Restore last draft"] {

    display: none !important;

}

.my-tox-header-sticky--expanded {
    /* 4% is the width of the hidden menu */
    left: calc(max(4%, 50px)) !important;

    /* 95.3 and not 96 to make the scrollbar visible */
    width: calc(100% - 15px - max(4%, 50px)) !important;

}

/* using higher specificity it makes these rule more important than the others, overriding .my-tox-header-sticky--expanded and .my-tox-header-sticky--normal */
div.tox-editor-header.my-tox-header-sticky--fullscreen {

    width: 100vw !important;
    left: 0 !important;

}

.my-tox-header-sticky--normal {
    /* 26% is the width of the normal menu */
    left: 26% !important;
    /* 73.3 and not 74 to make the scrollbar visible */
    width: calc(74vw - 15px) !important;

}

.tox-toolbar-overlord {

    background-color: var(--quaternary-bg-color) !important;
}

.tox-toolbar__primary {

    background-color: var(--quaternary-bg-color) !important;
}

.tox-menubar {

    background-color: var(--quaternary-bg-color) !important;

}

.tox-statusbar {

    opacity: 0;
}


.tox-tinymce {

    border: 0 !important;
    animation: load-note-animation 0.5s ease-in;
    border-radius: 0 !important;
}

.tox .tox-collection--toolbar .tox-collection__item--enabled {

    background-color: var(--purple-active) !important;

}

.tox .tox-menu {

    background-color: var(--purple) !important;

}

.tox .tox-collection--list .tox-collection__item--active {
    background-color: var(--purple-hover) !important;

}

.tox-menu.tox-collection.tox-collection--list,
.tox-menu.tox-collection.tox-collection--list.tox-selected-menu {

    background-color: var(--purple-active);

}

.tox .tox-collection--list .tox-collection__item--enabled {

    background-color: var(--purple-hover) !important;

}

.tox .tox-button--secondary {

    color: var(--quaternary-bg-color) !important;

}

/* make the the popup toolbar's arrow facing top of the right color */
.tox .tox-pop.tox-pop--top::before,
.tox .tox-pop.tox-pop--top::after {

    border-color: transparent transparent var(--purple-light) transparent !important;

}

/* make the the popup toolbar's arrow facing bottom of the right color */
.tox .tox-pop.tox-pop--bottom::before,
.tox .tox-pop.tox-pop--bottom::after {

    border-color: var(--purple-light) transparent transparent transparent !important;

}

/* toolbar and menubar buttons background */
.tox .tox-mbtn,
.tox .tox-tbtn {
    color: var(--text-color) !important;
    background: transparent !important;

}

/* toolbar active buttons background */
.tox-tbtn.tox-tbtn--enabled {

    background: var(--purple) !important;

}

.tox-textfield {

    background: var(--secondary-bg-color-hover) !important;
    border: 0 !important;

}

.tox-dialog-wrap__backdrop {

    background-color: var(--secondary-bg-color) !important;
    opacity: 0.7;
}

.tox-collection__item:hover {

    background-color: var(--purple-hover) !important;

}

.tox-button {

    background-color: var(--purple) !important;
    border: 0 !important;
}

.tox .tox-collection__item-icon svg,
.tox-collection__item-caret svg {

    fill: white !important;

}

.tox-collection__item-label,
.tox-collection__item-accessory {

    color: white !important;
}

.tox-collection__item-label * {

    background-color: transparent !important;
}

.tox-dialog {

    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5) !important;

}

.tox-dialog__header {

    background: var(--secondary-bg-color) !important;
    color: var(--text-color) !important;

}

.tox .tox-split-button:hover {
    box-shadow: 0 0 0 1px var(--purple) inset !important;
}

.tox .tox-split-button:focus {
    background-color: var(--purple) !important;
}

.tox .tox-collection--toolbar .tox-collection__item--active {
    background-color: var(--purple-hover) !important;
}

.tox-dialog__body {

    background: var(--secondary-bg-color) !important;

    color: var(--text-color) !important;
}

.tox-dialog__footer {

    background: var(--purple-active) !important;
    color: var(--text-color) !important;
}

.tox-textarea {

    background: var(--quaternary-bg-color) !important;

}

.tox-listbox.tox-listbox--select {

    background: var(--quaternary-bg-color) !important;

}

/* color of the tooltip when you hover on a button */
.tox .tox-tooltip__body {

    background-color: var(--purple) !important;

}

/*  gets rid of the white border around the editor */
.tox .tox-edit-area::before {

    border: 0 !important;

}

/* the menubar buttons'labels */
.tox .tox-mbtn__select-label {

    cursor: pointer !important;
}

/* popup toolbar */
.tox-toolbar {

    background-color: var(--purple-light) !important;

}

.tox .tox-pop__dialog {

    background-color: var(--purple-light) !important;

    border: 0 !important;

}

/*? google */
.gsi-material-button {

    width: 60% !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

}

.gsi-material-button {
    background-color: var(--primary-bg-color);
    background-image: none;
    border: 2px solid var(--purple);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .2s, border-color .2s, box-shadow .2s;
    transition: background-color .2s, border-color .2s, box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-weight: 500;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: var(--secondary-bg-color);
    opacity: 90%;
}

/*? animations */
@keyframes load-note-animation {

    0% {

        opacity: 0;

    }

    50% {

        opacity: 0.1;

    }

    100% {

        opacity: 1;

    }

}


@keyframes ripple {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.6);
    }
}

/*? responsive */

@media screen and (pointer:none),
(pointer:coarse) {
.secondary-button:disabled:active {

        background-color: rgb(215, 96, 96) !important;

    }
    .menu__toolbar--normal {
        /* the height of the tinymce toolbar is different on mobile */
        height: 93px;

    }

    .tox-toolbar {

        background-color: var(--quaternary-bg-color) !important;

    }

    .secondary-button:not(.active):hover {

        background-color: var(--tertiary-bg-color);
    }

    .secondary-button:not(.active):active {

        background-color: var(--tertiary-bg-color-active);
    }

    button {

        user-select: none;

    }

}

@media screen and (max-width: 1240px) {
    .login-container {

        width: 50%;
        padding: 5%;
    }

    .menu__toolbar--normal .icon-text-button span {

        display: none;

    }

    .menu__toolbar--normal .icon-text-button {
        width: auto;
        aspect-ratio: 1 / 1;
    }

    .myModal {

        width: 40%;

    }


    .menu__toolbar {

        font-size: 0.9em;

    }

}

@media screen and (max-width: 769px) {
    .login-container {

        width: 60%;
    }

    .myModal {

        width: 60%;

    }

    .login-page .ripple-background .sponsor {

        font-size: 2.3em;
    }

    .sponsor--purple {

        text-shadow: 0.25px 0 var(--purple),
            -0.25px 0 var(--purple),
            0 0.25px var(--purple),
            0 -0.25px var(--purple),
            0.25px 0.25px var(--purple),
            -0.25px -0.25px var(--purple),
            0.25px -0.25px var(--purple),
            -0.25px 0.25px var(--purple);
        ;

    }

    .choose-note {

        display: flex;

    }

    .over-769 {

        display: none;

    }


    .menu:not(.menu--expanded, .menu--only-notelist) {

        flex-basis: 0%;
        border: 0;

    }

    .menu--expanded .note-list {

        display: none;

    }

    .menu__toolbar--expanded {

        border: 0;

    }

    .menu--expanded {

        flex-basis: 100%;

    }

    .login-page .ripple-background {

        width: 40%;

    }

    .login-page .ripple-background .sponsor {

        display: none;

    }

    button.gsi-material-button {
        transform: scale(1);

    }

    .note-display {

        flex-basis: 100%;

    }

    .menu__toolbar {

        font-size: 0.9em;

    }



    .menu--expanded .menu__toolbar {
        width: 100%;


    }


    ::-webkit-scrollbar {
        display: none;
    }

}


@media screen and (max-width: 500px) {

    .login-container {

        font-size: 0.9em;

    }

}

@media screen and (max-width: 426px) {
    .login-container {

        width: 90%;
        height: 90dvh;
        padding: 8%;
        border-radius: 10px;
        font-size: 0.85em;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    .myModal {

        width: 90%;


    }

    .login-page {
        justify-content: center;

    }

    button.gsi-material-button {
        transform: scale(0.97);

    }

    .login-page .ripple-background {

        position: absolute;
        width: 100%;

    }

    .login-page .ripple-background .sponsor {

        display: none;

    }

    .menu__toolbar {

        font-size: 0.7em;

    }

}

@media screen and (max-width: 376px) {
    .login-container {

        width: 90%;
        height: 90dvh;
        padding: 9%;
        border-radius: 10px;
        font-size: 0.8em;
    }

    .login-page {

        justify-content: center;

    }

    button.gsi-material-button {

        transform: scale(0.82);

    }

    .menu__toolbar {

        font-size: 0.625em;

    }

}


@media screen and (max-width: 321px) {
    .login-container {

        width: 90%;
        height: 90dvh;
        padding: 10%;
        border-radius: 10px;
        font-size: 0.8em;
    }

    .login-page {

        justify-content: center;

    }

    button.gsi-material-button {

        transform: scale(0.7);

    }

    .menu__toolbar {

        font-size: 0.525em;

    }
}

@media screen and (max-height: 500px) {

    .login-container {

        font-size: 0.8em;

    }

    button.gsi-material-button {

        transform: scale(0.87);

    }

    .login-page .ripple-background .sponsor {

        display: none;

    }
}


@media screen and (max-height: 425px) {

    .login-container {

        font-size: 0.55em;

    }

    button.gsi-material-button {

        transform: scale(0.8);

    }

}